REACT_APP_SUPABASE_URL=https://owdtpjeynfjfrlhwzlbm.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93ZHRwamV5bmZqZnJsaHd6bGJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NDkxMzksImV4cCI6MjA5MjQyNTEzOX0.vT-8Re334o-6aLs97ZIgaNUmyet6Is6zctjxh_v_Xmk
REACT_APP_STORE_WHATSAPP_NUMBER=+212620964305
REACT_APP_SUPABASE_PRODUCT_BUCKET=product-images
